---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <ol>
    <li>设计师</li>
    <li>开发者</li>
  </ol>
</CommonLayout>
