---
interface Props {
  width: string;
  height: string;
}

const { width = "128px", height = "128px" } = Astro.props;
---

<div class="card">
  <slot />
</div>
<style define:vars={{ width, height }}>
  .card {
    border: double 4px;
    color: darkcyan;
    background: yellow;
    width: var(--width);
    height: var(--height);
    overflow: hidden;
  }
</style>
