---
import type { Collection, Level, Tag, TagItem } from "../utils/content";

interface Props {
  tag: Tag;
  tags: TagItem[];
  collection: Collection;
  level?: Level;
  width?: string;
  height?: string;
}

const {
  tag,
  tags,
  collection,
  level,
  width = "512px",
  height = "128px",
} = Astro.props;
---

<ul class="card list-none p-0 m-[1px] flex flex-wrap" style={{ width, height }}>
  {
    tags
      .sort((a, b) => b[1] - a[1])
      .map(([tg, count]) => (
        <li
          class={
            "flex items-center mr-1 mb-1 px-1 rounded text-sm " +
            `${tag === tg ? "bg-blue-300" : "bg-gray-200"}`
          }
        >
          <a
            href={`/${collection}/filter/${level ?? "all"}-${tg}`}
            class="text-blue-600 hover:text-blue-500"
          >
            {tg === "all" ? "全部" : tg}({count})
          </a>
        </li>
      ))
  }
</ul>
